body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* TITLE BAR */
.title-bar {
    display: grid;
    grid-template-columns: 40px 1fr 80px;
    align-items: center;

    background-color: #121212;
    height: 40px;

    -webkit-app-region: drag;
    user-select: none;
}

#titlebar {
    width: 100%;
    height: 40px;
    border: none;
    display: block;
}

.title-bar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
}

.title-bar-icon {
    width: 24px;
    height: 24px;
}

.title-bar-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar-text {
    font-size: 16px;
}

.title-bar-buttons {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    -webkit-app-region: no-drag;
    gap: 5px;
}

.title-bar-button {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

.title-bar-button:hover {
    background-color: #444;
}

#close:hover {
    background-color: #e81123;
}

#iframe {
    display: block;
}

#content {
    padding: 20px;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}
