* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

img, a {
    -webkit-user-drag: none;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#session-token-text,
#session-password-text {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}
